.page__body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 160%;
  font-weight: 400;
  color: #444444;
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page__body {
    width: 768px;
  }
}
@media (min-width: 1150px) {
  .page__body {
    width: 1150px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans"), url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
.visually-hidden {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  background: #ffffff;
  border: 2px solid #444444;
  padding: 16px 70px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-header {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #ffffff;
  padding-top: 22px;
  padding-bottom: 22px;
  box-sizing: border-box;
  border-bottom: 1px solid #f1f1f1;
}
@media (min-width: 768px) {
  .main-header {
    padding: 0 50px;
  }
}

.logo {
  display: block;
}

@media (min-width: 768px) {
  .main-nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 347px;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    grid-template-columns: 1fr 250px 1fr;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    grid-template-columns: 1fr 150px 1fr;
  }
}

.main-nav__toggle {
  width: 21px;
  height: 21px;
  position: absolute;
  top: 37%;
  right: 10%;
  background-image: url("../img/header/menu.svg");
  background-size: 20px 14px;
  background-repeat: no-repeat;
  border-style: none;
  background-color: transparent;
}
.main-nav__toggle:focus {
  background-image: url("../img/header/menu-close.svg");
  background-size: 21px 20px;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle:focus + .main-nav__list-wrapper {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
}

.main-nav__list-wrapper {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .main-nav__list-wrapper {
    position: static;
    display: contents;
  }
}

@media (min-width: 768px) {
  .main-nav__site-list {
    order: 3;
  }
}
@media (min-width: 1150px) {
  .main-nav__site-list {
    order: 1;
  }
}

@media (min-width: 768px) {
  .main-nav__user-list {
    order: 2;
  }
}
@media (min-width: 1150px) {
  .main-nav__user-list {
    order: 3;
  }
}

@media (min-width: 768px) {
  .main-nav__logo {
    order: 1;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1150px) {
  .main-nav__logo {
    order: 2;
  }
}

@media (min-width: 768px) {
  .main-nav__submenu {
    order: 4;
  }
}
@media (min-width: 1150px) {
  .main-nav__submenu {
    order: 4;
    grid-column: 1/-1;
  }
}

.site-list {
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    align-items: center;
  }
}

.site-list__item {
  padding: 29px 65px 27px 76px;
  border-bottom: 1px solid #f1f1f1;
}
@media (min-width: 768px) {
  .site-list__item {
    font-size: 15px;
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .site-list__item {
    font-size: 17px;
    line-height: 141%;
    border: none;
  }
}

.site-list__link {
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .site-list__link {
    padding-right: 19px;
  }
}

.user-list {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .user-list {
    display: flex;
  }
}
@media (min-width: 768px) {
  .user-list {
    justify-content: flex-end;
  }
}

.user-list__item {
  padding: 29px 65px 27px 76px;
  border-bottom: 1px solid #f1f1f1;
}
@media (min-width: 768px) {
  .user-list__item {
    padding: 0;
    border: none;
  }
}

.user-list__link {
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .user-list__link--search {
    display: block;
    width: 82px;
    height: 88px;
    background-size: 18px 18px;
    background-position: center;
    background-image: url("../../img/search.svg");
    background-repeat: no-repeat;
    border-right: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
  }
}
@media (min-width: 768px) {
  .user-list__link--cart {
    display: block;
    padding: 32px 0 32px 53px;
    background-size: 21px 18px;
    background-position: left;
    background-image: url("../../img/cart.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) {
  .search-text {
    display: none;
  }
}

.submenu {
  display: none;
}
@media (min-width: 768px) {
  .submenu {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 1150px) {
  .submenu {
    justify-content: space-between;
  }
}

.submenu__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .submenu__list {
    display: none;
  }
}
@media (min-width: 1150px) {
  .submenu__list {
    display: flex;
  }
}

.submenu__item {
  font-weight: 700;
  font-size: 15px;
  line-height: 160%;
  color: #000000;
}
@media (min-width: 1150px) {
  .submenu__item {
    margin-right: 50px;
  }
}

.submenu__description {
  margin: 0;
  padding: 0;
}

.footer {
  background-color: #f1f1f1;
  padding: 25px 30px 23px 30px;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 50px 58px 50px;
  }
}

.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: block;
  }
}

.footer__social::after {
  content: "";
  width: 260px;
  border-bottom: 1px solid #ececec;
  padding-top: 28px;
}
@media (min-width: 768px) {
  .footer__social::after {
    display: none;
  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
  padding-top: 22px;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding: 0;
  }
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social__item {
  margin-right: 27px;
}
.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: inline-flex;
  width: 27px;
  height: 20px;
}
.social__link--vk {
  background-image: url("../img/social/vk.svg");
  background-repeat: no-repeat;
  background-size: 27px 17px;
}
.social__link--youtube {
  background-image: url("../img/social/youtube.svg");
  background-repeat: no-repeat;
  background-size: 24px 19px;
}
.social__link--telegram {
  background-image: url("../img/social/tg.svg");
  background-repeat: no-repeat;
  background-size: 20px 17px;
}

.copyright__text {
  align-self: center;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
  margin-right: 27px;
}

.copyright__link {
  display: inline-flex;
  align-self: center;
}

.intro {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .intro {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.intro__title-wrapper {
  min-height: 283px;
  background-color: #fafafa;
  background-image: url("../img/intro/hero-mobile@2x1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .intro__title-wrapper {
    height: 746px;
    background-image: url("../img/intro/hero-desktop 2.jpg");
  }
}

.intro__title {
  align-self: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: #000000;
  text-align: center;
  margin: 0;
  margin-top: 73px;
}
@media (min-width: 768px) {
  .intro__title {
    font-size: 43px;
    line-height: 116%;
    margin-top: 155px;
  }
}

.intro__category {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .intro__category {
    display: flex;
  }
}

.category-products__item {
  background-color: #63d1bb;
  padding-left: 24px;
  padding-top: 30px;
  padding-bottom: 31px;
}
.category-products__item--second {
  background-color: #56c3b2;
}
@media (min-width: 768px) {
  .category-products__item {
    width: 50%;
    padding-left: 36px;
  }
}

.category-products__link {
  display: inline-block;
  width: 130px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.main-product {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 33px 30px 36px 30px;
  background-image: url("../img/zigzag-line-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (min-width: 768px) {
  .main-product {
    padding: 65px 50px 50px 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .main-product {
    padding: 65px 50px 50px 82px;
  }
}

@media (min-width: 768px) {
  .main-product__title-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1150px) {
  .main-product__title-wrapper {
    justify-content: flex-start;
  }
}

.main-product__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 4px;
}
@media (min-width: 768px) {
  .main-product__title {
    font-size: 43px;
    line-height: 116%;
    margin-left: 5px;
  }
}
@media (min-width: 1150px) {
  .main-product__title {
    order: 2;
  }
}

.main-product__notice {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .main-product__notice {
    max-width: 100px;
    text-align: center;
    margin-right: 13px;
  }
}
@media (min-width: 768px) {
  .main-product__notice {
    margin-right: 47px;
  }
}

@media (min-width: 1150px) {
  .main-product__description {
    max-width: 292px;
    margin-left: 155px;
  }
}

.options__item {
  display: flex;
  line-height: 20px;
  margin-bottom: 20px;
}
@media (min-width: 1150px) {
  .options__item {
    margin-left: 155px;
  }
}

.options__item::after {
  content: "";
  width: 260px;
  border-bottom: 1px solid #ececec;
}

.options__attr {
  width: 97px;
}

.options__value {
  width: 162px;
}

.main-product__image {
  background-color: #f1f1f1;
  margin-bottom: 26px;
}

.main-product__price {
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
@media (min-width: 1150px) {
  .main-product__price {
    margin: 0;
    margin-left: 245px;
    margin-bottom: 33px;
  }
}

@media (min-width: 1150px) {
  .main-product__button {
    max-width: 292px;
    padding: 16px 86px;
    margin-left: 155px;
  }
}

.about {
  padding: 33px 30px 58px 30px;
}
@media (min-width: 768px) {
  .about {
    padding: 67px 50px 82px 50px;
  }
}
@media (min-width: 1150px) {
  .about {
    padding: 68px 50px 90px 225px;
  }
}

.about__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 43px;
    line-height: 116%;
  }
}

.advantages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages {
    flex-wrap: wrap;
    max-height: 409px;
    padding-top: 34px;
  }
}

.advantages__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 30px;
  padding-top: 54px;
}
@media (min-width: 768px) {
  .advantages__item {
    width: 50%;
  }
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.advantages__item--flower {
  background-image: url("../img/about/flower.svg");
  background-repeat: no-repeat;
  background-size: 32px 38px;
}
.advantages__item--money {
  background-image: url("../img/about/money.svg");
  background-repeat: no-repeat;
  background-size: 47px 27px;
}
.advantages__item--likes {
  background-image: url("../img/about/likes.svg");
  background-repeat: no-repeat;
  background-size: 34px 27px;
}
.advantages__item--knitting {
  background-image: url("../img/about/knitting.svg");
  background-repeat: no-repeat;
  background-size: 35px 34px;
}
.advantages__item--rocket {
  background-image: url("../img/about/rocket.svg");
  background-repeat: no-repeat;
  background-size: 55px 23px;
}
.advantages__item--gift {
  background-image: url("../img/about/gift.svg");
  background-repeat: no-repeat;
  background-size: 33px 32px;
}

.reviews {
  display: flex;
  flex-direction: column;
  padding: 0 30px 45px 30px;
  background-image: url("../img/zigzag-line-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}
@media (min-width: 768px) {
  .reviews {
    padding: 83px 50px 132px 50px;
    background-image: url("../../img/review/review-tablet-img.jpg");
    background-size: 350px 457px;
    background-position: left top;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .reviews__title {
    font-size: 43px;
    order: 0;
  }
}

.reviews__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .reviews__list {
    display: contents;
  }
}

@media (min-width: 768px) {
  .reviews__button {
    order: 1;
  }
}

.review__item {
  margin: 0;
  padding: 0;
  width: 100%;
}
.review__item--hidden {
  display: none;
}

.quote__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .quote__text {
    display: flex;
    order: 2;
  }
}

@media (min-width: 768px) {
  .quote__author {
    order: 4;
  }
}

.quote__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-bottom: 7px;
}

.quote__contact {
  margin: 0;
}

.control {
  display: flex;
  justify-content: space-around;
  min-height: 52px;
  background: transparent;
  padding-top: 18px;
  padding-bottom: 38px;
}
@media (min-width: 768px) {
  .control {
    order: 5;
  }
}

.control__button {
  min-width: 129px;
  border-style: solid;
  border-width: 1px 0.5px 1px 1px;
  border-color: #ececec;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 50px 26px;
  background-position: 50% 50%;
  margin: 0;
}
.control__button--left {
  background-image: url("../img/review/huge-arrow-left.svg");
}
.control__button--right {
  background-image: url("../img/review/huge-arrow-right.svg");
}

.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 38px;
  padding-bottom: 39px;
}
@media (min-width: 768px) {
  .contacts {
    padding-top: 0;
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #000000;
  padding-left: 30px;
  margin: 0;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 43px;
    line-height: 116%;
  }
}

.contacts__map {
  margin-bottom: 42px;
}

.contacts__button {
  margin: auto 30px;
  padding: 16px 38px;
  color: #000000;
}
@media (min-width: 768px) {
  .contacts__button {
    margin: 0;
    font-size: 17px;
    line-height: 116%;
    max-width: 230px;
    align-self: center;
  }
}

.contact-info {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 62px;
}
@media (min-width: 768px) {
  .contact-info {
    display: flex;
  }
}

.contact-info__item {
  display: flex;
  font-size: 14px;
  line-height: 30px;
  font-style: normal;
}
@media (min-width: 768px) {
  .contact-info__item {
    width: 50%;
  }
}

.contact-info__name {
  display: inline-block;
  min-width: 76px;
}

.contact-info__email {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px #62d1ba solid;
  padding-bottom: 4px;
}
@media (min-width: 768px) {
  .contact-info__email {
    padding-bottom: 0;
  }
}

.catalog-container__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background-color: #f1f1f1;
  margin: 0;
  padding-top: 74px;
  padding-bottom: 74px;
}

.catalog {
  padding: 30px 29px 0 29px;
}
@media (min-width: 768px) {
  .catalog {
    padding: 67px 50px 0 50px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}
@media (min-width: 1150px) {
  .product {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1150px) {
  .product {
    gap: 47px;
  }
}

.product__item {
  border: 1px solid #ececec;
  padding-bottom: 27px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .product__item {
    display: flex;
    padding: 0;
  }
}
@media (min-width: 1150px) {
  .product__item {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.product__img-wrapper {
  margin: 0;
  margin-bottom: 28px;
  background-color: #ececec;
}

.product__img {
  display: block;
}

.product__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-left: 28px;
  margin-bottom: 8px;
}
@media (min-width: 768px) {
  .product__title {
    margin: 0;
  }
}

.product__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  margin: 0;
  margin-left: 28px;
}
@media (min-width: 768px) {
  .product__text {
    margin: 0;
  }
}

.product__link {
  display: flex;
}
@media (min-width: 768px) {
  .product__link {
    max-height: 334px;
  }
}
@media (min-width: 768px) {
  .product__link {
    max-height: 462px;
  }
}

.product__info {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 768px) {
  .product__info {
    flex-direction: column;
    justify-content: flex-start;
    min-width: 335px;
    padding-left: 34px;
    padding-top: 27px;
  }
}
@media (min-width: 1150px) {
  .product__info {
    min-width: 316px;
  }
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
@media (min-width: 768px) {
  .product__price {
    border-top: 1px solid #ececec;
    padding-top: 20px;
    margin-top: 179px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1150px) {
  .product__price {
    margin-top: 37px;
  }
}

.product__button {
  width: 20px;
  height: 19px;
  display: inline-flex;
  background-image: url("../img/product/cart.svg");
  background-repeat: no-repeat;
  border-style: none;
  background-color: transparent;
}

.process {
  margin: 0 29px 58px 29px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f1f1f1;
}
@media (min-width: 768px) {
  .process {
    margin: 0 49px 0 49px;
    padding-bottom: 46px;
  }
}

.process__info {
  display: flex;
  align-items: center;
  padding: 22px 13px 27px 34px;
}
@media (min-width: 768px) {
  .process__info {
    order: 2;
  }
}

.process__img {
  margin-right: 25px;
}

.process__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 141%;
  color: #000000;
  margin: 0;
}
@media (min-width: 768px) {
  .process__title {
    font-size: 20px;
    line-height: 120%;
    margin-left: 107px;
  }
}

.process__video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 150px;
  background-image: url("../img/process/video-mobile-1.jpg");
  background-repeat: no-repeat;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .process__video {
    order: 1;
    width: 100%;
    height: 455px;
    background-image: url("../img/process/video-tablet-1.jpg");
    background-repeat: no-repeat;
  }
}
@media (min-width: 1150px) {
  .process__video {
    order: 1;
    width: 683px;
    height: 455px;
    background-image: url("../img/process/video-desktop-1.jpg");
    background-repeat: no-repeat;
  }
}

.process__play-button {
  display: none;
  background-color: transparent;
  border-style: none;
}

.process__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  margin-left: 34px;
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .process__text {
    order: 3;
    font-size: 15px;
    line-height: 200%;
    max-width: 580px;
    margin-left: 40px;
  }
}

.process__button {
  align-self: center;
  padding: 18px 20px;
  margin-bottom: 33px;
}
@media (min-width: 768px) {
  .process__button {
    order: 4;
    align-self: auto;
    margin: 0 42px;
  }
}

.form-container__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  background-color: #f1f1f1;
  margin: 0;
  padding-top: 74px;
  padding-bottom: 74px;
}

.form-wrapper {
  padding: 18px 30px 55px 30px;
}

.form-wrapper__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

.form__fieldset {
  border-style: none;
  margin: 0;
  padding: 0;
}
.form__fieldset--type {
  margin-bottom: 31px;
}
.form__fieldset--color {
  margin-bottom: 33px;
}
.form__fieldset--user {
  margin-bottom: 13px;
}
.form__fieldset--phone {
  margin-bottom: 35px;
}
.form__fieldset--email {
  margin-bottom: 35px;
}
.form__fieldset--wishes {
  margin-bottom: 17px;
}

.form__legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
}
.form__legend--type {
  margin-bottom: 30px;
}
.form__legend--color {
  margin-bottom: 25px;
}
.form__legend--user {
  margin-bottom: 29px;
}
.form__legend--wishes {
  margin-bottom: 23px;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.radio {
  display: flex;
}

.radio__input {
  margin-right: 19px;
  margin-bottom: 11px;
}

.radio__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.checkbox {
  display: flex;
}

.checkbox__input {
  margin-right: 19px;
  margin-bottom: 23px;
}

.checkbox__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.field {
  display: flex;
  flex-direction: column;
}

.field__input {
  padding-top: 17px;
  padding-bottom: 17px;
  border-style: none;
  border-bottom: 2px solid #000000;
}
.field__input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.field__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.phone-input {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 20px;
  border-style: none;
  border-bottom: 2px solid #000000;
}
.phone-input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.email-input {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 20px;
  border-style: none;
  border-bottom: 2px solid #000000;
}
.email-input::placeholder {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.textarea-input {
  width: 100%;
  height: 142px;
  border: 2px solid #000000;
}
.textarea-input::placeholder {
  padding: 17px 17px 0 17px;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
}

.form__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}

.form__button {
  padding: 18px 37px;
}

.popup-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.popup-wrapper:active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  width: 100%;
  min-height: 336px;
  background-color: #ffffff;
  border: 1px solid #c6c6c6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
}
@media (min-width: 768px) {
  .popup {
    max-width: 556px;
    max-height: 336px;
    padding: 40px 95px 46px 95px;
  }
}

.popup__form {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.popup__fieldset {
  border-style: none;
}

.popup__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}

.popup__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 200%;
  text-align: center;
}

.popup__list {
  display: flex;
  justify-content: center;
  gap: 7px;
  list-style-type: none;
  padding: 0;
}

.popup__button {
  margin: 0;
  padding: 18px 82px;
  background-color: #63d1bb;
  color: #ffffff;
  border-style: none;
}
/*# sourceMappingURL=style.css.map */